# Database
DATABASE_URL="..."

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="..."

# Or Midtrans (Alternative)
MIDTRANS_SERVER_KEY="..."
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="..."
MIDTRANS_IS_PRODUCTION=false

# Email (Optional - for notifications)
RESEND_API_KEY="..."
FROM_EMAIL="..."

NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY='...'
IMAGEKIT_PRIVATE_KEY='...'
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT='https://ik.imagekit.io/.....'
